<!DOCTYPE html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>
    <h1>Student Management System</h1>
    <h2>Add Student</h2>

    <form action="/submit" method="POST">
        <label>Name:</label><br>
        <input type="text" name="name" placeholder="Enter name"><br><br>

        <label>Age:</label><br>
        <input type="text" name="age" placeholder="Enter age"><br><br>

        <label>Class:</label><br>
        <input type="text" name="student_class" placeholder="Enter class"><br><br>

        <label>Maths:</label><br>
        <input type="text" name="maths" placeholder="Enter maths marks"><br><br>

        <label>Science:</label><br>
        <input type="text" name="science" placeholder="Enter science marks"><br><br>

        <label>English:</label><br>
        <input type="text" name="english" placeholder="Enter english marks"><br><br>

        <input type="submit" value="SUBMIT">
    </form>

    <br>
   
</body>
</html>